@font-face {
	font-family: 'icomoon';
	src:url('fuentes/icomoon.eot?-vh4a3o');
	src:url('fuentes/icomoon.eot?#iefix-vh4a3o') format('embedded-opentype'),
		url('fuentes/icomoon.woff?-vh4a3o') format('woff'),
		url('fuentes/icomoon.ttf?-vh4a3o') format('truetype'),
		url('fuentes/icomoon.svg?-vh4a3o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-facebook:before {
	content: "\ea8d";
}

.icon-twitter:before {
	content: "\ea92";
}

.icon-youtube2:before {
	content: "\f166";
}

.icon-instagram:before {
	content: "\e600";
}
body
{
	background: #f7f7f7 url('img/bg.jpg') repeat-x;
	font-size: 16px;
}
header
{
	background: #fff;
	margin-top: -36px;
	padding: 0;
	overflow: hidden;
}
footer
{
	background: #161C25;
	padding: 0 0 1em 0;
}
section
{
	background: #fff;
	overflow: hidden;
}
section div
{
	color: #666;
	font-family: Trebuchet MS, Arial;
	padding: 0.3em;
}
.contenido
{
	overflow: hidden;
}
.contenido h1
{
	border-top: 0.1em solid rgb(107, 107, 107);
	font-size: 1.3em;
	padding: 0.5em 0.8em 0 0.8em;
	margin: 0;
}
.contact_contenido
{
	margin: 0 .3em;
}
.contact_contenido p:first-child
{
	color: #CC3030;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
.contact_contenido p
{
	color: #4E4E4E;
	font-size: .95em;
}
.datos
{
	padding: .5em 1em 1em 1em;
}
.datos p:first-child
{
	color: rgba(255,255,255,0.5);
	font-size: 1em;
}
.datos p:last-child
{
	color: #FFF;
	font-size: .8em;
}
.derechos
{
	background: #fff;
	text-align: center;
	font-size: .75em;
	margin: 0;
	padding: 1em;
}
.face-mini
{
	color: #43609C;
}
.full_contenido
{
	display: none;
}
.googmap
{
	margin: 0 auto;
	margin-bottom: 1em;
	text-align: center;
	display: block;
}
.googmap iframe
{
	width: 280px;
	height: 280px;
}
.instagram-mini
{
	color: #4B7A9E;
	font-size: 1.1em;
}
.img_novedades
{
	float: left;
	margin: 1em 1em 0 1em;
}
.img_novedades img
{
	width: 120px;
}
.leer{
	font-size: .9em;
	margin: 0;
	padding: .5em 1em 1em 1.1em;
}
.leer a
{
	color: #C53131;
	text-decoration: none;
}
.logo
{
	float: left;
	margin: 0 0 0 5%;
	padding: 0;
	
}
.logo img
{
	width: 150px;
}
.menu_principal
{
	margin-top: 3em;
}
.menu_principal ul
{
	margin: 0 0 .5em 0;
	padding: 0;
	text-align: center;	
}
.menu_principal ul li
{
	display: inline-block;
	list-style: none;
	margin-right: -0.250em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
.menu_principal ul li:hover
{
	background: #E37F40;
	color: #fff;
}
.menu_principal ul li a
{
	color: #3E514B;
	padding: 0.4em 0.5em 0.4em 0.5em;
	text-decoration: none;
}
.menu_principal ul li a:hover
{
	color: #fff;
}
.novedades
{
	border-top: #2F2F2F solid 2px;
	font-size: 2em;
}
.redes
{
	background: white;
}
.redes ul
{
	font-size: 1.05em;
	margin: 0;
	padding: 0.3em 1em 0.3em 0;
	text-align: right;	
}
.redes ul li
{
	display: inline-block;
	list-style-type: none;
	margin-left: .8em;
}
.redes ul li a
{
	text-decoration: none;
	outline: none;
}
.redes_extras
{
	text-align: center;
}
.redes_extras ul
{
	font-size: 2em;
	margin: 0;
	padding: 0;
}
.redes_extras ul li
{
	display: inline-block;
	list-style: none;
	padding: 0 .2em;
	margin: 0 0.2em;
}
.redes_extras ul li a
{
	color: rgba(255,255,255,0.5);
	outline: none;
	text-decoration: none;	
}
.slider_container
{
	display: none;
}
.sub_contenido
{
	display: none;
}
.texto_contenido
{
	margin: .7em 1em 0 1em;
	line-height: 1.5;
}
.twitter-mini
{
	color: #55ACEE;
}
.wrap
{
	background: #E7E7E7;
	margin: 0 auto;
	padding-top: 36px;
	width: 100%;
}
.youtube-mini
{
	color: #E12A27;
	font-size: 1.15em;
}
/*formulario*/
	.boton
	{
		background: #849175;
		border: solid 0;
		padding: .8em;
		color: white;
	}
	.campo
	{
		border: solid 4px #cece76;
		margin-bottom: 1.5em;
		width: 20em;
	}
	.form_cont
	{
		display: block;
		margin: 0 auto;
		background-color: orange;
		border-radius: 10%;
		box-shadow:  0 0 20px rgba(0,0,0,0.5);
		font-family: 'Comfortaa', sans-serif;
		font-size: 1em;
		padding: 2em;
		width: 65%;
		margin-bottom: 1em;

	}
	.miformulario input
	{
		width: 90%;
	}
	.miformulario label
	{
		display: block;
	}
@media screen and (min-width: 500px){
	.googmap iframe
	{
		width: 400px;
		height: 280px;
	}
	.img_novedades
	{
		float: left;
		margin: 1em 1em 0.6em 1em;
	}
	.menu_principal
	{
		margin-top: .5em;
	}
}
@media screen and (min-width: 768px){
	footer
	{
		position: relative;
	}
	section
	{
		color: #666;
		font-family: Trebuchet MS, Arial;
	}
	.contact_contenido
	{
		margin: 0 5em;
	}
	.form_cont
	{
		width: 50%;
		margin-bottom: 1.5em;
	}
	.googmap iframe
	{
		width: 600px;
		height: 500px;
	}
	.logo
	{	
		margin: 0 0 0 0;
		position: relative;
		left: 10%;
	}
	.novedades
	{
		font-size: 2.5em;
	}
	.slider_controls li
	{
		list-style: none;
		cursor: pointer;
	}
	.slider_container
	{
		display: block;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		width: 100%;
		margin-bottom: -.2em;
	}
	.slidercontainer
	{
		white-space: nowrap;
		padding: 0;
	}
	.slide
	{
		display: inline-block;
		height: auto;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		width: 100%;
		padding: 0;
	}
	.left, .right
	{
		color: rgba(255,255,255,0.5);
		position: absolute;
		top: 45%;
		font-size: 5em;
		height: 40px;
	}
	.left
	{
		left: 5%;
	}
	.right
	{
		right: 5%;
	}
}
@media screen and (min-width: 1024px){
	#contenido_galeria
	{
		margin: 0 auto;
		overflow: hidden;
		padding: 0px;
		position: relative;
		width: 100%;
	}
	#contenido_galeria div
	{
		width: 50%;
		height: auto;
	}
	#contenido_galeria div img
	{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	#contenido_galeria div p
	{
		font-size: 1.2em;
		padding: 0;
		position: absolute;
		top: 0px;
		width: 48%;
		margin: 0px 0px 0px 2em;
		right: 0;
	}
	.contact_contenido p:first-child
	{
		color: #CC3030;
		font-size: 1.2em;
		font-weight: bold;
		margin: 0;
		padding: 0;
		text-decoration: underline;
	}
	.contenido
	{
		display: none;
	}
	.form_cont
	{
		display: inline-block;
		margin-left: 6em;
		background-color: orange;
		border-radius: 10%;
		box-shadow:  0 0 20px rgba(0,0,0,0.5);
		font-family: 'Comfortaa', sans-serif;
		font-size: 1em;
		padding: 2em;
		width: 30%;
	}
	.full_contenido
	{
		display: block;
		margin: 0 auto;
		margin-bottom: 1em;
		padding: 0;
		text-align: left;
		width: 95%;
	}
	.googmap
	{
		float: left;
		margin-left: 5em;
	}
	.googmap iframe
	{
		width: 400px;
		height: 400px;
	}
	.redes_extras
	{
		position: absolute;
		right: 2%;
		top: 45%
	}
	.sub_contenido
	{
		border-top: 0.1em solid #6B6B6B;
		display: block;
		text-align: center;
	}
	.rot_imagenes
	{
		cursor: pointer;
		display: inline-block;
		margin: 0.8em 1em;
	}
	.rot_imagenes img
	{
		width: 150px;
	}
}
@media screen and (min-width: 1200px){
	#contenido_galeria
	{
		margin: 0 auto;
		overflow: hidden;
		padding: 0px;
		position: relative;
		width: 80%;
	}
	.boton
	{
		background: #849175;
		border: solid 0;
		padding: .8em;
		color: white;
	}
	.campo
	{
		border: solid 4px #cece76;
		margin-bottom: 1.5em;
		width: 20em;
	}
	.form_cont
	{
		display: inline-block;
		margin-left: 6em;
		background-color: orange;
		border-radius: 10%;
		box-shadow:  0 0 20px rgba(0,0,0,0.5);
		font-family: 'Comfortaa', sans-serif;
		font-size: 1em;
		padding: 2em;
		width: 30%;
	}
	.miformulario label
	{
		display: block;
	}
	.contact_contenido p:first-child
	{
		color: #CC3030;
		font-size: 1.3em;
		font-weight: bold;
		margin: 0;
		padding: 0;
		text-decoration: underline;
	}
	.contact_contenido p
	{
		color: #4E4E4E;
		font-size: .97em;
	}
	.contact_contenido
	{
		margin: 0 6em;
	}
	.googmap
	{
		float: left;
		margin-left: 6em;
	}
	.googmap iframe
	{
		width: 500px;
		height: 500px;
	}
	.logo
	{	
		margin: 0 0 0 0;
		position: relative;
		left: 15%;
	}
	
	.wrap
	{
	background: #E7E7E7;
	margin: 0 auto;
	padding-top: 36px;
	width: 1200px;
	}
}

/*/////*/
#ins_contenido
{
	margin: 1em; 
}
#ins_contenido .ins_item
{
	background: white;	
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}

#ins_contenido .ins_item .ins_imagen_item
{
	float: left;
	margin-right: 1em;
}
#ins_contenido .ins_item .ins_imagen_item img
{
	width: 110px;
}


	
#ins_boton{
	width: 700px;
	height: auto;
	position: relative;
	color: #000000;

	
	
}


/****************/
#ins_contenido .ins_item1
{
	background: white;	
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}

#ins_contenido .ins_item1 .ins_imagen_item1
{
	float: right;
	margin-right: 1em;
}
#ins_contenido .ins_item1 .ins_imagen_item1 img
{
	width: 110px;
}